<!-- shops-page.component.html -->
<div class="shop-page">
  <h1>Store Addresses in Ukraine</h1>

  <div class="container">
    <div
      *ngFor="let shop of shops"
      class="shop-item"
      [ngClass]="{ 'show-map': shop.showMap }"
    >
      <p>
        Address:
        <a
          [href]="'https://www.google.com/maps/place/' + shop.address"
          target="_blank"
        >
          {{ shop.address }}
        </a>
      </p>
      <p>Shopping Center: {{ shop.shoppingCenter }}</p>
      <p>Working Hours: {{ shop.workingHours }}</p>
      <p>
        Phone Number:
        <a href="tel:{{ shop.phoneNumber }}">{{ shop.phoneNumber }}</a>
      </p>
      <div class="map-container">
        <iframe
          [src]="shop.mapUrl"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <button (click)="toggleMapVisibility(shop)">Show Map</button>
    </div>
  </div>
</div>
