@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@300;400;600;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffaf2;
    padding: 0 120px;

    .logo {
        padding-top: 10px;
        color: #c66c49;
        text-decoration: none;
        font-size: 42px;
        font-family: 'Alex Brush', cursive;
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .bar {
            width: 25px;
            height: 3px;
            background-color: #c66c49;
            margin: 3px 0;
        }
    }

    .nav-links {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
            margin-left: 64px;
            color: #c66c49;
            text-decoration: none;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;


            &.active {
                font-weight: bold;
            }
        }
    }

    @media (max-width: 768px) {

        .burger-menu {
            display: flex;
        }

        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background-color: #fffaf2;
            z-index: 1;
        }

        .show-menu {
            display: flex;
        }

        .nav-links a {
            padding: 15px;
            width: 100%;
            box-sizing: border-box;
        }
    }
}

 @media (max-width: 768px) {
     .navbar {
         padding: 0 40px;

     }}